# python
__pycache__/
*.pyc

# build outputs
build/
dist/

# pdf generati
# *.pdf

# pandoc temporary
*.log
*.aux
*.out

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# local scripts output
tools/output/

# Da rivedere
# "course_notes/[4] IUM Appunti Riassunti Completi/"